extends layout

block append scripts
  != js("author")

block content
  //- Insertion point for table or alert:

  .tabbable#top-level-tabs
    ul.nav.nav-tabs
      li: a(href="#quiz-table-view", data-toggle="tab") Quizzes
    .tab-content
      #quiz-table-view.tab-pane

block templates
  script#quiz-table-template(type="text/template")
    .alert
      strong.
        No Quizzes have been created yet ... feel free to start creating some!
    .limit-height
      table.table.table-bordered.table-striped.table-condensed
        thead
          tr
            th Title
            th.span3 Location
            th.span3 Created
            th.span3
        tbody
    .well
      button.btn.btn-primary.x-create-new Create New Quiz
      &nbsp;
      button.btn.x-create-test-data(data-loading-text="Loading ...").
        Create Test Quizzes
  script#quiz-table-row-template(type="text/template")
    td {{title}}
    td {{location}}
    td {{created}}
    td.dropdown
      a.btn.dropdown-toggle(data-toggle="dropdown")
        | Actions
        b.caret
      ul.dropdown-menu
        li: a.x-edit(href="#")
          i.icon-pencil
          | Edit
        li.divider
        li: a.x-delete(href="#")
          i.icon-remove
          | Delete

  script#quiz-edit-form(type="text/template")
    .x-alert-container
    form.well(action="#")
      .x-quiz-fields
      .row
        .x-rounds.offset1
      button.btn.btn-primary.x-save(data-loading-text="Saving ...") Save Quiz
      &nbsp;
      button.btn.x-cancel(href="#"
        rel="tooltip"
        data-placement="right"
        title="Discard changes, close tab") Cancel

  script#quiz-fields-view(type="text/template")
    .control-group.x-title
      label Quiz Title
      .controls
        input.span4(type="text")
        span.help-inline Title or theme for the Quiz
    .control-group.x-location
      label Location
      input.span4(type="text")
      span.help-inline Location where Quiz will take place

  script#rounds-editor(type="text/template")
    .x-current-rounds
    .x-add-new-round
      | Add a new
      select.span2
        each type in [ "normal", "challenge", "wager" ]
          option(value=type) #{type}
      |  round:
      button.btn.btn-mini.x-add
        i.icon-plus
        | Add

  script#delete-quiz-modal(type="text/template")
    .modal
      .modal-header
        a.close(data-dismiss="modal") &times;
        h3 Really delete quiz?
      .modal-body
        p
          | Deletion of quiz
          strong {{title}}
          |  is immediate, and cannot be undone.
      .modal-footer
        button.btn.btn-danger.x-confirm(data-dismiss="modal") Delete Quiz
        button.btn.x-close(data-dismiss="modal") Close
   script#standard-error-alert(type="text/template")
     div.alert.alert-error.fade.in
       a.close(data-dismiss="alert", href="#") &times;
       h4.alert-heading Error!
       | {{content}}