extends layout

block append scripts
  != js("author")

block content
  //- Insertion point for table or alert:

  .tabbable#top-level-tabs
    ul.nav.nav-tabs
      li: a(href="#quiz-table-view", data-toggle="tab") Quizzes
    .tab-content
      #quiz-table-view.tab-pane

block append templates
  script#QuizTableView(type="text/template")
    .alert
      strong.
        No Quizzes have been created yet ... feel free to start creating some!
    .limit-height
      table.table.table-bordered.table-striped.table-condensed
        thead
          tr
            th Title
            th.span3 Location
            th.span3 Created
            th.span3
        tbody
    .well.btn-toolbar
      .btn-group: button.btn.btn-primary.x-create-new Create New Quiz
      .btn-group: button.btn.x-create-test-data(
         data-loading-text="Loading ...").
         Create Test Quizzes

  script#QuizTableRowView(type="text/template")
    td {{title}}
    td {{location}}
    td {{created}}
    td
      .btn-group.dropdown
          a.btn.dropdown-toggle(data-toggle="dropdown")
            | Actions
            b.caret
          ul.dropdown-menu
            li: a.x-edit
              i.icon-pencil
              | Edit
            li.divider
            li: a.x-delete
              i.icon-remove
              | Delete

  script#QuizEditorView(type="text/template")
    .well.btn-toolbar
      .btn-group
        button.btn.btn-primary.x-save(data-loading-text="Saving ...") Save Quiz
      .btn-group
        div.dropdown
          button.btn.dropdown-toggle(data-toggle='dropdown')
            | Add a new round 
            b.caret
          ul.dropdown-menu
            each type in [ "normal", "challenge", "wager" ]
              li: a(data-round-type='#{type}')
                i.icon-plus
                | Add #{type} round
      .btn-group
        button.btn.x-cancel(
        rel="tooltip"
        data-placement="top"
        title="Discard changes, close tab") Cancel

  script#QuizFieldsEditorView(type="text/template")
    .control-group.x-title
      label Quiz Title
      .controls
        input.span4(type="text", required)
        span.help-inline Title or theme for the Quiz
    .control-group.x-location
      label Location
      input.span4(type="text")
      span.help-inline Location where Quiz will take place

  script#RoundHeaderView(type="text/template")
    .accordion-heading
      a.accordian-toggle(
        rel="tooltip"
        data-placement="top"
        title="Expand/Collapse this round")
        | Round #
        span.x-index 999
        |  ({{kind}})
        | 
        em: span.x-title Round Title
      button.btn.btn-danger.btn-mini.x-delete.pull-right Delete Round
    .accordion-body.collapse
      .control-group.x-title.accordion-inner
        label
          | Round
          span.x-index 999
          |  Title
        input.span4(type="text", required, rows=10, cols=100)
        span.help-inline Title or theme for this round

  script#NormalRoundEditView(type="text/template")
    table.table.table-bordered.table-striped.table-condensed
      thead
        th.span5 Question
        th.span4 Answer
        th.span1 Points
        th.span2
          button.btn.btn-mini.x-add.pull-right
            i.icon-plus
            | Add Question
      tbody

  script#QuestionTableRowView(type="text/template")
    td
    td
    td
    td.dropdown
      button.btn.dropdown-toggle(data-toggle="dropdown")
        | Actions
        b.caret
      ul.dropdown-menu
        li: a.x-edit
          i.icon-pencil
          | Edit
        li: a.x-delete
          i.icon-remove
          | Delete

  script#standard-error-alert(type="text/template")
    .alert.alert-error.fade.in
      a.close(data-dismiss="alert", href="#") &times;
      h4.alert-heading Error!
      | {{content}}

  script#EditQuestionModalView(type="text/template")
    .modal-header
      a.close(data-dismiss="modal") &times;
      h3 Edit Question
    .modal-body
      | Form goes here
    .modal-footer
      button.btn.btn-primary(data-dismiss="modal") OK